* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url(Images/Image2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 85%;
  margin: 0;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.logo {
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 1.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  text-align: center;
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 20px auto;
}
.content p {
  margin: 20px auto;
  font-weight: 100px;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
